<h1>Bookmark Manager</h1>
<h2>Add a new link</h2>
<form action='/links' method='post'>
  <input type='text' name='title' placeholder="Title">
  <input type='text' name='url' placeholder="URL WITH http(s)">
  <input type='submit' value='submit'>
</form>
