
<h1>Add new links:</h1>

<form action='/links' method='post'>
  <div>
    <input type="text" name="title" placeholder="Title">
  </div>
  <div>
    <input type="text" name="url" placeholder="URL">
  </div>
  <div>
    <input type="text" name="name" placeholder="tags">
  </div>
  <input type="submit" value="Submit">

</form>
