<h1>Add user</h1>

<form action="/users" method="post">
  <input name="name" type="text" placeholder="Name">
  <input name="password" type="text" placeholder="Password">
  <input name="email" type="text" placeholder="Email address">
  <input value="Create" type="submit">
</form>
